
<div id="customer_hldr">
	<div class="container">

	{% layout settings.customer_layout %}
  	
  	<div class="row">
  		
			<div class="span5 offset1">
			
				<h2 class="title">Customer Login</h2>
				
				{% form 'customer_login' %}
					{{ form.errors | default_errors }}
				
					<div id="login_email" class="clearfix large_form">
						<label for="customer_email" class="login">Email Address</label>
						<input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" placeholder="Email Address"/>
					</div>
				
					{% if form.password_needed %}		      	
						<div id="login_password" class="clearfix large_form">
							<label for="customer_password" class="login">Password</label>
							<input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" placeholder="Password" />
							<div id="forgot_password">
								<a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
							</div>
						</div>
					{% endif %}
				
					<div class="action_bottom">
						<a href="{{ shop.url }}" class="button button-orange">Return to Store</a>
						<button class="button button-blue" type="submit" >Sign In</button>
					</div>
				
				{% endform %}
				
				<div id="recover-password" style='display:none'>
					<div class="template_header">
						<h2 class="title">Reset Password</h2>
						<p class="note">We will send you an email to reset your password.</p>
					</div>
					
					{% form 'recover_customer_password' %}
						{{ form.errors | default_errors }}
					
						<div id="recover_email" class="clearfix large_form">
							<label for="email" class="large">Email</label>
							<input type="email" value="" size="30" name="email" id="recover-email" class="large" placeholder="Email Address" />
						</div>
						<div class="action_bottom">
							<button type="submit" class="button button-blue">Submit</button>
							<span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
						</div>
						
					{% endform %}
			  
				</div><!-- /#recover-password -->
				
			</div><!-- /.span5 -->
			
			
			<div class="span5 offset1">
				{% if shop.checkout.guest_login %}
					<div id="guest">
						<div class="template_header">
							<h2 class="title">Guest Login</h3>
						</div>
						{% form 'guest_login' %}
							<button class="button button-blue" type="submit">Continue as Guest</button>
						{% endform %}
					</div>
				{% endif %}
			</div>
			
			
		</div><!-- /.row -->

	</div>
</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
