
{% layout settings.customer_layout %}
<div id="customer_hldr">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-7 col-sm-offset-4">
				
				<div id="customer">
					<h2>Customer Login</h2>
				
					{% form 'customer_login' %}

						{{ form.errors | default_errors }}			

						<div id="login_email" class="form-group">
							<label for="customer_email" class="sr-only">Email address</label>
							<input type="email" class="form-control"name="customer[email]" id="customer_email"  placeholder="Enter email">
						</div>
				
						{% if form.password_needed %}
							<div id="login_password" class="form-group">
								<label for="customer_password" class="sr-only">Password</label>
								<input type="password" class="form-control" name="customer[password]" id="customer_password" placeholder="Password">
							</div>

							<div class="forgot_password">
								<a href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
							</div>
						{% endif %}
				
						<button class="btn btn-green" type="submit">Sign In</button>
				
					{% endform %}
				</div><!-- #customer -->
				
				<div id="recover-password" style='display:none'>
					
					<h2>Reset Password</h2>
					<p>We will send you an email to reset your password.</p>

					{% form 'recover_customer_password' %}
						{{ form.errors | default_errors }}
					
						<div id="recover_email" class="clearfix large_form">
							<label for="email" class="sr-only">Email</label>
							<input type="email" name="email" id="recover-email" class="form-control" placeholder="Email Address" />
						</div>

						<button class="btn btn-green" type="submit">Submit</button>

						<div class="forgot_password">
							<a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a>
						</div>
						
					{% endform %}
			  
				</div><!-- /#recover-password -->
				
			</div><!-- /.col-sm-7.col-sm-offset- -->
			
		</div><!-- /.row -->

	</div>
</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
