/*
 * -----------------------------------------------------------------------
 * Log6
 * http://log6.com/
 * -----------------------------------------------------------------------
 * designed by Switch Creative
 * http://switch.is
 * -----------------------------------------------------------------------
 * Structure
 * Bootstrap • http://getbootstrap.com
 * -----------------------------------------------------------------------
 */

 	.container { width: 1180px !important; }


/* 
 * ------------------------------------------------------- 
 * Nav
 * ------------------------------------------------------- 
*/
	#nav {
		ul {
			.list-inline();
			text-align: right;

			li {
				.sans-bold(12);
				text-transform: uppercase;
			}
		}
	}// #nav
/* -------------------------------------------------------
 * End Nav  
 * ------------------------------------------------------- */


