/*
 * -----------------------------------------------------------------------
 * Log6
 * http://log6.com/
 * -----------------------------------------------------------------------
 * designed by Switch Creative
 * http://switch.is
 * -----------------------------------------------------------------------
 * Structure
 * Bootstrap • http://getbootstrap.com
 * -----------------------------------------------------------------------
 */

 	.container { 
 		position: relative;
 		width: 1180px !important; 
 	}

 	a {
 		.transition(.3s ease-out color);
 		cursor: pointer !important;
 		&:hover { text-decoration: none; }
 	}

 	span[style*="#ff9900"], span.orange { color: @orange !important; }
 	span[style*="#00ff00"], span.green { color: @green !important; }
 	span[style*="#0000ff"], span.blue,
 	span[style*="#9900ff"], span.purple { color: @coffee !important; }
	
 	strong { 
 		font-family: @sans-bold; 
		font-weight: normal;
 	}
	
	input, button { outline: none !important; }


/* 
 * ------------------------------------------------------- 
 * Nav
 * ------------------------------------------------------- 
*/
	#nav {
		height: 110px;
		position: relative;
		z-index: 100;

		#logo {
			position: absolute;
				top: 30px;
				left: 10px;
		 	width: 220px;
		 	a {
		 		.opacity(1);
		 		.transition(opacity .3s ease-out);
		 		&:hover { .opacity(.8); }
		 	}
		 	img { 
		 		height: 126px;
		 		max-width: 100%;
		 		width: 220px; 
		 	}
		}// #logo 

		ul {
			.list-inline();
			margin: 0;
			text-align: right;

			li {
				.sans-bold(16);
				letter-spacing: .1rem;
				text-transform: uppercase;

				&.social {
					&.last { padding-right: 0; }
					a {
						.opacity(1);
						.transition(opacity .3s ease-out);
						border: none;
						padding: 0;
						width: 24px;
						
						img { 
							.square(24px);
							margin-top: -2px;
							max-width: 100%; 
							vertical-align: text-top;
						}
						
						&:hover { 
							.opacity(.7); 
							background-color: transparent;
						}

					}// a

				}// &.social
			}// li
		
		}// ul

		.nav-top {
			padding-top: 14px;
			a {
				.rem-calc(12);
				.transition(~"background-color .3s ease-out, color .4s ease-out");
				border: 1px solid @gray-light;
				color: @green;
				display: block;
				padding: 7px 14px 9px;
				
				span {
					.transition(border-color .3s ease-out);
					border-bottom: 4px solid transparent;
					padding-bottom: 4px;
				}

				&:hover span { border-bottom-color: @orange; }
				&.active span { border-bottom-color: @orange; }
			}// a
		}// &.nav-top

		.nav-bottom {
			padding-top: 20px;
			
			li {
				padding: 0 17px;

				&.cart {
					padding-right: 0;
					
					.glyphicon {
						.rem-calc(22);
						.transition(color .3s ease-out);
						color: @coffee;
						top: 4px;
					}// .glyphicon

					.qty {
						.rem-calc(12);
						.square(22px);
						background-color: @green;
						border-radius: 50%;
						color: @white;
						display: inline-block;
						padding: 2px;
						position: relative;
							top: -1px;
						text-align: center;
					}// .qty
					
					a:hover {
						.glyphicon { color: @green; }
					}

				}// .cart
			}// li

			a {
				.transition(~"border-color .3s ease-out, color .3s ease-out");
				border-bottom: 6px solid transparent;
				color: @orange;
				padding-bottom: 3px;
				&:hover { 
					border-color: @green;
					color: @orange-dark; 
				}
				&.active { border-color: @green; }
			}
		}// &.nav-top

	}// #nav
/* -------------------------------------------------------
 * End Nav  
 * ------------------------------------------------------- */




/* 
 * ------------------------------------------------------- 
 * Header
 * ------------------------------------------------------- 
*/
	#header {
		.background-cover("bg-header.jpg", center);
		height: 920px;
		margin-top: -110px;
		position: relative;
		z-index: 5;
		
		.template-product & { height: 950px; }
		.template-page &,
		.template-404 & { height: 800px; }
		.template-cart &,
		.template-customers-login &,
		.template-customers-account &,
		.template-customers-order &,
		.template-customers-addresses & { height: 200px; }

	}// #header
/* -------------------------------------------------------
 * End Header  
 * ------------------------------------------------------- */




/* 
 * ------------------------------------------------------- 
 * Header Component
 * ------------------------------------------------------- 
*/
	.header-component {
		height: 920px;
		margin-top: -920px;
		position: relative;
		z-index: 10;
		
		.template-product & { height: 950px; margin-top: -950px; }
		.template-page &,
		.template-404 & { margin-top: -800px; }
		
		.col-sm-9 { padding-top: 230px; }
		.col-sm-6 { padding-top: 140px; }

		h1 {
			.sans-book(86, 1);
			color: @green;
			margin-bottom: 50px;
			strong { color: @green-dark; }
		}// h1

		p {
			.sans-book(26);
			color: @coffee;
			margin-bottom: 50px;
		}

		.btn {
			margin-right: 20px;
			width: 300px;
		}
		
		.product-hldr {
			text-align: center;
		}
		
		&.page {
			padding-top: 200px;
		}

	}// .header-component
/* -------------------------------------------------------
 * End Header Component  
 * ------------------------------------------------------- */




/* 
 * ------------------------------------------------------- 
 * Products
 * ------------------------------------------------------- 
*/
	.products {
		position: relative;
		z-index: 20;
		
		> h2 {
			.sans-book(50);
			color: @green;
			margin: 50px 0;
			text-transform: uppercase;
		}

		.product {
			.clearfix();
			margin-bottom: 50px;

			.content {
				
				.description { display: none; }

				h1 {
					.sans-bold(48, 1.1);
					color: @coffee;
					margin: 0 0;
				}

				h2 {
					.sans-bold(100, 1);
					color: @orange;
					margin: 0 0 30px -5px;
				}

				p {
					.sans-book(20);
					color: @coffee;				
	
					&.value {
						.sans-bold(24);
						color: @green;
						margin-bottom: 10px;
						text-transform: uppercase;
					}// .value

					&.shipping,
					span[style*="#00ff00"] {
						.sans-book(24);
					}// .shipping

					a {
						color: @green;
						&:hover { color: @green-dark; }
					}

				}// p

				ul {
					margin: 30px 0 30px -16px;
					li {
						.sans-book(20, 1.7);
						color: @coffee;
					}
				}// ul
				

				.btn {
					.rem-calc(24);
					.btn > .lg-font();
					letter-spacing: .1rem;
					width: 300px;
				}

			}

			.img {
				a {
					display: block;
					margin: 0 auto;
					position: relative;
					text-align: center;
					
					img { max-width: 100%; }

					.special {
						.square(160px);
						position: absolute;
					}

					.sanitize-deodorize + .special {
						top: 146px;
						left: 20px;
					}

					.clean-freshen + .special {
						top: 76px;
						right: -100px;
					}

					.odor-elimination + .special {
						top: 146px;
						left: 10px;
					}


				}// a
			}// .img
			

			&.individual {
				margin-bottom: 50px;

				.content { 
					float: left; 
					padding-top: 50px;
					width: 55%;

					h1 { .rem-calc(38); }
					h2 { .rem-calc(80); }
					
					p { 
						margin-bottom: 30px;
						max-width: 300px;
						.shipping { margin-bottom: 30px; }
					}

					.btn { width: 100%; }
				}// .content

				.img { 
					float: right; 
					width: 45%;
					img { max-width: 100%; }
				}// .img

			}// &.individual


		}// .product
		

		.header-component & {
			height: 950px;
			padding-top: 200px;

			.col-sm-6 { padding: 0; } 
			.col-sm-9 { padding: 0 0 0 40px; }
			
			.content {
				// override the js hiding the "blue"
				#product-description p { 
					.rem-calc(16);
					line-height: 1.5em;
					margin-bottom: 20px;

					&.description { display: block !important; }
				}

				.btn {
					vertical-align: top;
					width: 300px;
				}
			}

			.img { margin-left: -50px; }

		}// .header-component &

	}// .products
	
	#product-variants { display: none; }

	.product-page + .products h2 {
		margin-top: 50px;
	}// .product-page

	#product-add {
		margin-top: 20px;
		input[type="number"] {
			.sans-book(24);
			.box-shadow(none);
			background-color: @gray-middle;
			border: 1px solid @gray;
			border-radius: 0;
			color: @coffee;
			margin-top: 1px;
			padding: 24px 20px;
			text-align: center;
			width: 100px;
		}
	}

	#product-modal {
		.modal-dialog { width: 620px; }
 	
 		.modal-content {
 			.box-shadow(none);
 			border: none;
 			border-radius: 0;
 		}// .modal-content

 		.modal-header {
 			.clearfix();
 			border: none;
 			padding: 40px 80px 0;
 			position: relative;

 			h4 {
 				.sans-bold(36);
 				color: @coffee;
 				padding-top: 10px;
 			}// h4

 			.close {
 				.rem-calc(40);
 				position: absolute;
 					top: 12px;
 					right: 30px;
 			}

 		}// .modal-header

 		.modal-body {
 			.clearfix();
 			border: none;
 			padding: 0 80px 40px;

 			p {
 				.sans-book(18);
 				color: @coffee;
 				display: block !important;
 				margin-bottom: 20px;
 				&.price {
 					.sans-bold(26, 1);
					color: @orange;
 				}
 			}

 			ul {
 				.sans-book(18);
 				color: @coffee;
 				margin-bottom: 20px;
 				padding-left: 24px;
 			}

 		}// .modal-body
	}// #product-modal

/* -------------------------------------------------------
 * End Products  
 * ------------------------------------------------------- */




/* 
 * ------------------------------------------------------- 
 * Page Content
 * ------------------------------------------------------- 
*/
	.page-content {
		padding-bottom: 100px;
		
		h1 {
			.sans-bold(36);
			color: @orange;
		}

		h2 {
			.sans-bold(30, 1.5);
			color: @green;
			margin-bottom: 30px;
			a {
				color: @orange;
				&:hover { color: @orange-dark; }
			}
		}// h2

		p {
			.sans-book(18, 1.5);
			color: @coffee;
			margin-bottom: 30px;
			a {
				color: @orange;
				&:hover { color: @orange-dark; }
			}
		}// p

		p + h2, ul + h2 { margin-top: 95px; }
		
		ul {
			.sans-book(18, 1.5);
			color: @coffee;
			margin-bottom: 30px;
			margin-left: -16px;
			li {
				margin-bottom: 15px;
			}
		}


		&.about {
			h2 {
				margin-bottom: 50px;
			}// h2

			p {
				.sans-book(24, 1.5);
				margin-bottom: 50px;
			}// p
			
			.btn {
				.rem-calc(38);
				background-image: url("bg-btn-orange-large.png");
				display: block;
				margin-top: 10px;
				padding: 38px 0;
				&:hover { background-position: 0px top; }
			}// .btn

		}// &.about

	}// .page-content
/* -------------------------------------------------------
 * End Page Content  
 * ------------------------------------------------------- */



/* 
 * ------------------------------------------------------- 
 * Footer
 * ------------------------------------------------------- 
*/
	#footer {
		background-color: @gray-middle;
		padding: 125px 0 20px;

		ul {
			.list-inline();
			margin: 0;

			&.big {
				padding-bottom: 80px;
				li {
					.sans-bold(18);
					padding: 0 17px;
					text-transform: uppercase;

					&:first-child { padding-left: 0; }

					a {
						color: @green;
						&:hover { color: @green-dark; }
					}// a
				}
			}// &.big
			
			&.small {
				li {
					.sans-book(14);
					padding: 0 17px;
					&:first-child { padding-left: 0; }
					a {
						color: @gray;
						&:hover { color: @gray-dark; }
					}
				}
			}// &.small

		}// ul

		#logo-footer {
			position: absolute;
				top: -52px;
				right: 0;
			width: 220px;
			
			a {
				.opacity(1);
				.transition(opacity .3s ease-out);
				&:hover { .opacity(.8); }
			}

			img { 
		 		height: 126px;
		 		max-width: 100%;
		 		width: 220px; 
		 	}
		}// logo-footer

	}// #footer
/* -------------------------------------------------------
 * End Footer  
 * ------------------------------------------------------- */



 /* 
  * ------------------------------------------------------- 
  * Contact Form
  * ------------------------------------------------------- 
 */
 	.modal-backdrop {
 		background-color: @green;
 		&.in { .opacity(.85); }
 	}

 	#contact {
 		.modal-dialog { width: 860px; }
 	
 		.modal-content {
 			.box-shadow(none);
 			border: none;
 			border-radius: 0;
 		}// .modal-content

 		.modal-header {
 			.clearfix();
 			border: none;
 			padding: 40px 80px;

 			h4 {
 				.sans-bold(36);
 				color: @green;
 				float: left;
 				padding-top: 10px;
 				width: 335px;
 			}// h4

 			p {
 				.sans-bold(24);
 				color: @coffee;
 				float: right;
 				width: 335px;
 				a {
 					color: @orange;
 					&:hover { color: @orange-dark; }
 				}
 			}// p

 		}// .modal-header

 		.modal-body {
 			.clearfix();
 			border: none;
 			padding: 0 80px 40px;
 		}
	
 		#contactFormWrapper {
 			.clearfix();

 			.left {
 				float: left;
 				width: 335px;
 			}// .left

 			.right {
 				float: right;
 				width: 335px;
 			}// .right
			
			.form-group {
				margin-bottom: 30px;
				width: 100%;
			}

			.form-control {
				.hex-to-rgba(@coffee, .65);
				.placeholder(@rgba);
				.sans-book(24);
				background-color: @gray-middle;
				border: none;
				border-radius: 0;
				.box-shadow(none);
				color: @coffee;
			}// .form-control
			
			input[type="text"], input[type="email"] { height: 50px; }

			textarea.form-control { padding: 20px; }
			
			.btn {
				.rem-calc(20);
				margin-top: 10px;
				width: 100%;
				&:before { z-index: 1; }
			}

 		}// #contactFormWrapper

 		.modal-footer {
 			.sans-bold(18);
 			background-color: @coffee;
 			border: none;
			color: @white;
			text-align: center;
 		}// .modal-footer

 	}// #contact
 /* -------------------------------------------------------
  * End Contact Form  
  * ------------------------------------------------------- */



/* 
 * ------------------------------------------------------- 
 * Cart
 * ------------------------------------------------------- 
*/
	.cart_hldr {
		background-color: @white;
		padding: 74px 0;
		
		h1 {
			.sans-bold(30, 1);
			color: @orange;
			margin-bottom: 24px;
			text-align: center;
			text-transform: uppercase
		}
		
		p {
			.sans-book(24);
			color: @coffee;
			text-align: center;
			a {
				color: @orange;
				&:hover { color: @orange-dark; }
			}
		}
		
		table {
			margin-bottom: 10px;
			width: 100%;
			
			th {
				.sans-bold(24);
				color: @coffee;
				padding: 20px;
				text-align: center;

				&.t_items {
					text-align: left;
					width: 50%; 
				}
				&.t_price	{ width: 15%; }
				&.t_qty 	{ width: 15%; }
				&.t_total 	{ width: 15%; }
			}// th
			
			td {
				border-top: 1px solid @gray;
				height: 148px;
				vertical-align: middle;
				
				&.t_items {
					vertical-align: middle;
					width: 40%; 
					
					.items {
						.clearfix();
						padding: 20px;
						
						a { display: table; }
						
						img {
							display: table-cell;
							vertical-align: middle;
						}// img
						
						p {
							.sans-bold(24);
							color: @orange;
							display: table-cell;
							margin-bottom: 0;
							padding-top: 0;
							padding-left: 20px;
							text-align: left;
							text-transform: uppercase;
							vertical-align: middle;
							span {
								.sans-book(14);
								color: @gray;
							}
						}// p
					
					}// .items
					
				}// &.t_items
			
				&.t_price {
					.sans-bold(24);
					color: @coffee;
					padding: 20px;
					text-align: center;
				}
				
				&.t_qty {
					.clearfix();

					text-align: center;
					input[type="number"] {
						.rem-calc(18);
						background-color: @gray-light;
						border: 1px solid @gray;
						height: 50px;
						margin-bottom: 0;
						text-align: center;
						width: 76px;
					}

					a.button-tiny, 
					input.button-tiny {
						.sans-book(10);
						background-color: @gray;
						border: none;
						border-radius: 0;
						color: @white;
						display: block;
						height: auto !important;
						letter-spacing: .1rem;
						margin: 8px auto;
						padding: 4px 5px;
						text-transform: uppercase;
						width: 76px;
						&:hover { background-color: @green; }
						&.remove:hover { background-color: @red; }
					}// .button-tiny

				}// &.t_qty
				
				&.t_remove {
					text-align: center;

					p {
						margin-bottom: 0;
						text-align: center;
					}

					.close {
						.sans-book(28);
						.happy-font();
						.opacity(1);
						background: @orange;
						color: @white;
						display: inline-block;
						float: none;
						padding: 2px 0 6px;
						text-shadow: none;
						width: 36px;
						&:hover { background-color: @orange; }
					}// .close

				}// &.t_remove
				
				&.t_total {
					.sans-bold(24);
					color: @coffee;
					padding: 20px;
					text-align: center;
				}
				
			}// td
			
		}// table
		
		#subtotal {
			.clearfix();
			background-color: @gray-light;
			margin-bottom: 74px;
			padding: 30px;
			
			p { margin-bottom: 0; }
			
			.pull-left {
				p {
					.sans-book(20);
					color: @coffee;
					.glyphicon { color: @orange; }
				}
			}// .pull-left
			
			.pull-right {
				p {
					.sans-bold(20);
					color: @orange;
					span {
						color: @coffee;
					}
				}
			}
			
		}// #subtotal
		
		#proceed {
			text-align: right;
			.btn { width: 310px; }
		}// #proceed
		
	}// #cart_hldr

/* -------------------------------------------------------
 * End Cart  
 * ------------------------------------------------------- */



 /* 
  * ------------------------------------------------------- 
  * Customer Pages
  * ------------------------------------------------------- 
 */

	#customer_hldr {
		margin-bottom: 74px;
		padding: 74px 0 124px;

		h2 {
			.sans-bold(30);
			color: @orange;
			margin-bottom: 30px;
			text-align: center;
			small {
				.sans-book(18);
				color: @coffee;
			}
		}

		.template-customers-account &,
		.template-customers-order &,
		.template-customers-addresses & {
			h2 { text-align: left; }
		}

		a {
			color: @orange;
			&:hover { color: @orange-dark; }
		}
		
		input[type="email"],
		input[type="password"] {
			.hex-to-rgba(@coffee, .65);
			.placeholder(@rgba);
			.sans-book(24);
			background-color: @gray-middle;
			border: none;
			border-radius: 0;
			.box-shadow(none);
			color: @coffee;
			padding: 30px 20px;
			text-align: center;
		}
		
		.forgot_password {
			.sans-book(16);
			margin: 30px 0;
			text-align: center;
			a {
				color: @orange;
				&:hover { color: @orange-dark; }
			}
		}
		
		.btn { 
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 300px; 
		}
		
		
		#customer_sidebar {
			padding-top: 118px;
			h5 {
				.sans-bold(16);
				color: @orange;
				text-transform: uppercase;
			}
			p {
				color: @coffee;
				margin-bottom: 5px;
			}
		}// #customer_sidebar

		#recover-password {
			.btn {
				margin: 30px auto;
			}
			p {
				.sans-book(18);
				padding: 0 0 30px;
				text-align: center;
			}
		}
		
		
		
		#customer_orders {
			table {
				width: 100%;
				th {
					.sans-bold(16);
					color: @coffee;
					padding: 16px 20px 20px 0;
					text-align: left;
					text-transform: uppercase;
				}
				td {
					.rem-calc(16);
					border-top: 1px solid @gray-border;
					color: @coffee;
					padding: 20px 20px 20px 0;
				}
			}
		}// #customer_orders
		

		#address_tables,
		#add_address {
			margin: 30px 0;
			
			h4 {
				.sans-bold(16);
				color: @orange;
				text-transform: uppercase;
			}
			
			p {
				color: @coffee;
				margin-bottom: 5px;
			}
			
			.customer_address_table {
				margin-bottom: 34px;
				td.value {
					padding-left: 20px;
					input[type="checkbox"] { margin: 0; }
					input[type="text"] {
						padding-left: 20px;
						padding-right: 20px;
					}
				}
			}

			form {
				
				td {
					vertical-align: middle;
				}

				.lbl label {
					.sans-bold(16);
					color: @coffee;
					font-weight: normal;
					width: 100px;
				}

				.value { color: @coffee; }
				
				select { 
					margin: 20px 0; 
					width: 350px;
				}

				input[type="text"],
				input[type="email"],
				input[type="password"] {
					.hex-to-rgba(@coffee, .65);
					.placeholder(@rgba);
					.sans-book(18);
					background-color: @gray-middle;
					border: none;
					border-radius: 0;
					.box-shadow(none);
					color: @coffee;
					margin-bottom: 10px;
					padding: 10px 20px;
					width: 350px;
				}
				
				.btn {
					display: inline-block;
				}

			}
		
		}// #address_tables

		#add_address {
			margin-top: -12px !important;
		}
		
		.alert-danger { 
			border: none;
			text-shadow: 0 1px 0 rgba(0,0,0,.2); 
		}
		
		#order_address {
			padding-top: 6px;
			h5 {
				.sans-bold(16);
				color: @orange;
				text-transform: uppercase;
			}
			p {
				margin-bottom: 5px;
			}
			#order_payment { margin-bottom: 34px; }
		}// #order_address
		
		table#order_details {
			width: 100%;
			th {
				.sans-bold(16);
				color: @coffee;
				padding: 16px 20px 20px 0;
				text-align: left;
				text-transform: uppercase;
				&.center, &.quantity { text-align: center; }
				&.total			{ text-align: left; }
			}
			td {
				.rem-calc(16);
				border-top: 1px solid @gray-border;
				padding: 20px 20px 20px 0;
				&.center, &.quantity { text-align: center; }
				&.total			{ text-align: left; }
			}
			tfoot {
				.order_total td { 
					.sans-bold(24);
					color: @coffee;
				}
				td {
					padding-right: 20px;
					text-align: right;
				}
			}
		}
		
	}// #customer_hldr
 /* -------------------------------------------------------
  * End Customer Pages  
  * ------------------------------------------------------- */















