
	<div class="header-component home">
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<h1><span class="text-hide">Log 6ix </span>Cleaner Home.<br>
						Healthier Family.<br>
						<strong>Better Living.</strong>
					</h1>
					<p>Kills 99.99% of the most common germs.</p>
					<a href="#individual-products" class="btn btn-orange">View individual Products</a>
					<a href="#bundles" class="btn btn-green">View product bundles</a>
				</div>

				<div class="col-sm-6">
					<div class="product-hldr">
						<img src="{{ 'home-product.png' | asset_url }}" alt="Home Product">
					</div>
				</div>

			</div>
		</div>
	</div>

	{% include '_log6ix-all-products' %}