{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in:
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}



	<div class="header-component page">
		<div class="container">
			<img src="{{ 'about-hero.png' | asset_url }}" alt="{{ page.title }} | Log6ix">
		</div>
	</div>
	
	<div class="page-content {{ page.handle }}">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3">
					{{ page.content }}
					{% if page.handle == "about" %}
						<a href="/" class="btn btn-orange">Shop Our Products</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>


